
body{
    margin: 0;
}

section{
    margin: auto;
    width: 70%;
    padding: 10px;
}

.bg-grey{
    background-color: honeydew;
}

.bg-white{
    background-color: whitesmoke;
}

.bg-blue{
    background-color: deepskyblue;
}

.hero > img{
    width: 100%; 
    filter: brightness(70%); 
    object-fit: cover; 
    height: 400px;
    z-index: -1;
}

.navbar{
    display: flex;
}

.navbar > .navbar-body{
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.navbar-body > .navbar-body-item{
    color: whitesmoke;
}